<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarProducto</servlet-name>
        <servlet-class>Controller.ConsultarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarProducto</servlet-name>
        <servlet-class>Controller.ActualizarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarProducto</servlet-name>
        <servlet-class>Controller.BorrarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarProducto</servlet-name>
        <servlet-class>Controller.RegistrarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuario</servlet-name>
        <servlet-class>Controller.RegistrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarUsuario</servlet-name>
        <servlet-class>Controller.ConsultarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarPaciente</servlet-name>
        <servlet-class>Controller.RegistrarPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarPaciente</servlet-name>
        <servlet-class>Controller.ConsultarPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarExpediente</servlet-name>
        <servlet-class>Controller.ConsultarExpediente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarPaciente</servlet-name>
        <servlet-class>Controller.BorrarPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarPaciente</servlet-name>
        <servlet-class>Controller.ActualizarPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarUsuario</servlet-name>
        <servlet-class>Controller.ActualizarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarUsuario</servlet-name>
        <servlet-class>Controller.BorrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarVenta</servlet-name>
        <servlet-class>Controller.RegistrarVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarVenta</servlet-name>
        <servlet-class>Controller.ConsultarVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FiltrarVenta</servlet-name>
        <servlet-class>Controller.FiltrarVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chart</servlet-name>
        <servlet-class>Controller.Chart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarProducto</servlet-name>
        <url-pattern>/ConsultarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarProducto</servlet-name>
        <url-pattern>/ActualizarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarProducto</servlet-name>
        <url-pattern>/BorrarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarProducto</servlet-name>
        <url-pattern>/RegistrarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuario</servlet-name>
        <url-pattern>/RegistrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarUsuario</servlet-name>
        <url-pattern>/ConsultarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarPaciente</servlet-name>
        <url-pattern>/RegistrarPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarPaciente</servlet-name>
        <url-pattern>/ConsultarPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarExpediente</servlet-name>
        <url-pattern>/ConsultarExpediente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarPaciente</servlet-name>
        <url-pattern>/BorrarPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarPaciente</servlet-name>
        <url-pattern>/ActualizarPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarUsuario</servlet-name>
        <url-pattern>/ActualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarUsuario</servlet-name>
        <url-pattern>/BorrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarVenta</servlet-name>
        <url-pattern>/RegistrarVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarVenta</servlet-name>
        <url-pattern>/ConsultarVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FiltrarVenta</servlet-name>
        <url-pattern>/FiltrarVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Chart</servlet-name>
        <url-pattern>/Chart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
