<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarProducto</servlet-name>
        <servlet-class>Controller.ConsultarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarProducto</servlet-name>
        <servlet-class>Controller.ActualizarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarProducto</servlet-name>
        <servlet-class>Controller.BorrarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarProducto</servlet-name>
        <servlet-class>Controller.RegistrarProducto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarProducto</servlet-name>
        <url-pattern>/ConsultarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarProducto</servlet-name>
        <url-pattern>/ActualizarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarProducto</servlet-name>
        <url-pattern>/BorrarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarProducto</servlet-name>
        <url-pattern>/RegistrarProducto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
